<aside class="sidebar">
    <nav>
        <ul class="menu">
            <li><a href="/" class="{% if request.path == '/' %}active{% endif %}">首页</a></li>
            <li><a href="/tips" class="{% if request.path.startswith('/tips') %}active{% endif %}">防骗技巧</a></li>
            <li><a href="/basic" class="{% if request.path == '/basic' %}active{% endif %}">基本防骗知识</a></li>
            <li><a href="/cases" class="{% if request.path == '/cases' %}active{% endif %}">经典案例分析</a></li>
            <li><a href="/tools" class="{% if request.path == '/tools' %}active{% endif %}">防骗工具推荐</a></li>
            <li><a href="/about" class="{% if request.path == '/about' %}active{% endif %}">关于我们</a></li>
        </ul>
    </nav>
</aside>


